* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Kumbh Sans', sans-serif;
}
:root {
  --orange: hsl(26, 100%, 55%);
  --White: hsl(0, 0%, 100%);
  
}
.pointer {
  cursor: pointer;
}
.flex {
  display: flex;
}
.atc {
  align-items: center;
}
.jcSb {
  justify-content: space-between;
}

.navbar {
  padding: 30px 0px;

  border-bottom: 1px solid hsl(219, 9%, 45%);
}
.nav-logo-cont {
  gap: 70px;
}
.nav-ul {
  list-style-type: none;
  font-size: 16px;
  gap: 20px;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
}
.nav-ul li {
  cursor: pointer;
}
.nav-dp-img {
  width: 40px;
}
.product-img {
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
}

.main-cont {
  padding: 0px 5%;
}
.image-container {
  flex-basis: 40%;
  width: 100%;
  margin-block: 60px;
}
.body-section {
  margin: 0px 10%;
}
.thumbnail-img,
.active-thumbnail {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}
.active-thumbnail {
  border: 2px solid var(--orange);
  z-index: 4;
}
.thumbnail-cont {
  margin-top: 20px;
  gap: 30px;
}

.description-section {
  font-size: 18px;
  font-weight: 200;
  margin-left: auto;
  margin-block: 70px;
  margin-right: 5%;
  flex-basis: 40%;
  padding-block: 5%;
}
.cart-icon {
  margin-right: 20px;
  cursor: pointer;
}
.hidden-cart {
  font-size: 18px;
  right: 10%;
  top: 80px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 25px 0px;
  position: fixed;
  border-radius: 10px;
}

.cart-img {
  width: 45px;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  height: 40px;
}

.checkout-btn {
  width: 100%;
  border: none;
  margin-top: 20px;
  padding-block: 13px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 9px;
  color: var(--White);
  cursor: pointer;
  background-color: var(--orange);
}
.cart-text {
  padding: 0px 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  color: hsl(0, 0%, 0%);
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
.filled-cart {
  margin-top: 10px;
  padding: 10px 20px;
  color: hsl(219, 9%, 45%);
  font-weight: 200;
}
.total-price {
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  margin-left: 10px;
}
.mini-cont {
  gap: 10px;
}
.productName {
  font-size: 3rem;
}
.cart-product-name {
  font-weight: 400;
}
.description-section h2 {
  color: var(--orange);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.add-btn, .sub-btn {
cursor: pointer;
padding: 10px 15px;
background-color:  hsl(223, 64%, 98%);
display: flex;
height: 100%;
align-items: center;
justify-content: center;}
.add-btn {
  border-radius: 6px 0px 0px 6px;
}
.sub-btn {
  border-radius: 0px 6px 6px 0px;

}
.item-num {
font-weight: 700;
background-color:  hsl(223, 64%, 98%);

height: 100%;
padding-top: 10px;

font-size: 16px;

}
.item-cont {
 
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  border-radius:  6px;
height: 40px;
border-radius: 6px;
width: 125px;
}
@media (max-width: 700px) {
}
