* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  --orange: hsl(26, 100%, 55%)
}

.flex {
  display: flex;
}
.atc {
  align-items: center;
}
.jcSb {
  justify-content: space-between;
}

.navbar {
  padding: 40px 0px ;
  margin: 0px 10%;
  border-bottom: 1px solid hsl(219, 9%, 45%);
}
.nav-logo-cont {
  gap: 70px;
}
.nav-ul {
  list-style-type: none;
  font-size: 16px;
  gap: 20px;
}

.nav-dp-img {
  width: 40px;
  
}